{% extends 'base.html' %}
{% block title %}Libravatar: Upload photo{% endblock title %}

{% block content %}

<h1>Upload a new photo</h1>

<form enctype="multipart/form-data" action="{% url libravatar.account.views.upload_photo %}" method="post">

{{ form.photo.errors }}
<p class="aligned wide"><label for="id_photo">{{ form.photo.label_tag }}:</label>{{ form.photo }}</p>

<p><input type="submit" value="Upload" /></form>
<a href="{% url libravatar.account.views.profile %}">Cancel</a></p>

{% endblock content %}