{% extends 'base.html' %}
{% block title %}Libravatar: Photo lookup{% endblock title %}

{% block content %}

<h1>Photo lookup</h1>

<form action="{% url libravatar.tools.views.check %}" method="post">

<table>
<tr>
  <td>{{ form.email.errors }}{{ form.email.label_tag }}:</td>
  <td>{{ form.email }}</td>
</tr>
<tr><td colspan="1"><i>Optional parameters</i></td></tr>
<tr>
  <td>{{ form.domain.errors }}{{ form.domain.label_tag }}:</td>
  <td>{{ form.domain }}</td>
</tr>
<tr>
  <td>{{ form.not_found.errors }}{{ form.not_found.label_tag }}:</td>
  <td>{{ form.not_found }}</td>
</tr>
</table>

<p><input type="submit" value="Check"></p>

</form>

{% if data %}

<p>MD5 hash: <tt>{{ data.md5 }}</tt> (compatible with Gravatar)<br>
SHA1 hash: <tt>{{ data.sha1 }}</tt><br>
SHA256 hash: <tt>{{ data.sha256 }}</tt></p>

<p>This is what the avatars will look like depending on the hashing algorithm you use:</p>
<ul class="horizontal-list avatar-list centered">
  <li><a href="{{ avatar_url }}{{ data.md5 }}{{data.query_string}}"><img class="thumbnail" src="{{ avatar_url }}{{ data.md5 }}{{data.query_string}}" alt=""></a><br>MD5</li>
  <li><a href="{{ avatar_url }}{{ data.sha1 }}{{data.query_string}}"><img class="thumbnail" src="{{ avatar_url }}{{ data.sha1 }}{{data.query_string}}" alt=""></a><br>SHA1</li>
  <li><a href="{{ avatar_url }}{{ data.sha256 }}{{data.query_string}}"><img class="thumbnail" src="{{ avatar_url }}{{ data.sha256 }}{{data.query_string}}" alt=""></a><br>SHA256</li>
  <li><a href="{{secure_avatar_url}}{{data.md5}}{{data.query_string}}"><img class="thumbnail" src="{{secure_avatar_url}}{{data.md5}}{{data.query_string}}" alt=""></a><br>MD5&nbsp;<img src="{{media_url}}/img/https_lock.png" alt="https"></li>
  <li><a href="{{secure_avatar_url}}{{data.sha1}}{{data.query_string}}"><img class="thumbnail" src="{{secure_avatar_url}}{{data.sha1}}{{data.query_string}}" alt=""></a><br>SHA1&nbsp;<img src="{{media_url}}/img/https_lock.png" alt="https"></li>
  <li><a href="{{secure_avatar_url}}{{data.sha256}}{{data.query_string}}"><img class="thumbnail" src="{{secure_avatar_url}}{{data.sha256}}{{data.query_string}}" alt=""></a><br>SHA256&nbsp;<img src="{{media_url}}/img/https_lock.png" alt="https"></li>
</ul>

{% endif %}

{% endblock content %}
