{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Domain lookup' %} - Libravatar{% endblock title %}

{% block content %}

<h1>{% trans 'Domain lookup' %}</h1>

<form action="{% url 'libravatar.tools.views.check_domain' %}" method="post" name="lookup">

<table summary="">
<tr>
  <td>{{ form.domain.errors }}{{ form.domain.label_tag }}:</td>
  <td>{{ form.domain }}</td>
</tr>
</table>

<p><input type="submit" value="{% trans 'Check' %}"></p>

</form>

{% if data %}

<table>
<tr>
  <td>{% trans 'HTTP avatar server:' %}</td>
  <td>
  {% if data.avatar_server_http %}
    <tt>{{data.avatar_server_http}}</tt>
    {% if data.avatar_server_http_ipv4 %}
  <br>{{ data.avatar_server_http_ipv4 }}
    {% else %}
  <br><strong>{% trans 'Warning: no A record for this hostname' %}</strong>
    {% endif %}
    {% if data.avatar_server_http_ipv6 %}
  <br>{{ data.avatar_server_http_ipv6 }}
    {% endif %}
  {% else %}
  <i>{% trans 'use <tt>http://cdn.libravatar.org</tt>' %}</i>
  {% endif %}
  </td>
</tr>
<tr>
  <td>{% trans 'HTTPS avatar server:' %}</td>
  <td>
  {% if data.avatar_server_https %}
    <tt>{{data.avatar_server_https}}</tt>
    {% if data.avatar_server_https_ipv4 %}
  <br>{{ data.avatar_server_https_ipv4 }}
    {% else %}
  <br><strong>{% trans 'Warning: no A record for this hostname' %}</strong>
    {% endif %}
    {% if data.avatar_server_https_ipv6 %}
  <br>{{ data.avatar_server_https_ipv6 }}
    {% endif %}
  {% else %}
  <i>{% trans 'use <tt>https://seccdn.libravatar.org</tt>' %}</i>
  {% endif %}
  </td>
</tr>
</table>

{% endif %}

{% endblock content %}
