{% extends 'base.html' %}
{% block title %}Domain lookup - Libravatar{% endblock title %}

{% block body-onload %}document.forms.lookup.domain.focus(){% endblock body-onload %}
{% block content %}

<h1>Domain lookup</h1>

<form action="{% url libravatar.tools.views.check_domain %}" method="post" name="lookup">

<table summary="">
<tr>
  <td>{{ form.domain.errors }}{{ form.domain.label_tag }}:</td>
  <td>{{ form.domain }}</td>
</tr>
</table>

<p><input type="submit" value="Check"></p>

</form>

{% if data %}

<table>
<tr>
  <td>HTTP avatar server:</td>
  <td><tt>{{data.avatar_server_http}}</tt>
  {% if not data.avatar_server_http %}
  (use <tt>http://cdn.libravatar.org</tt>)
  {% endif %}
  {% if data.avatar_server_http_ipv4 %}
  <br>{{ data.avatar_server_http_ipv4 }}
  {% else %}
  <br><strong>Warning: no A record for this hostname</strong>
  {% endif %}
  </td>
</tr>
<tr>
  <td>HTTPS avatar server:</td>
  <td><tt>{{data.avatar_server_https}}</tt>
  {% if not data.avatar_server_https %}
  (use <tt>https://seccdn.libravatar.org</tt>)
  {% endif %}
  </td>
</tr>
</table>

{% endif %}

{% endblock content %}
