{% extends 'base.html' %}
{% block title %}Libravatar: Photo lookup{% endblock title %}

{% block content %}

<h1>Photo lookup</h1>

<form action="{% url libravatar.tools.views.check %}" method="post">

<p>{{ form.email.label_tag }}:{{ form.email }}
<input type="submit" value="Check"></p>

</form>

{% if data %}

<p>MD5 hash: <tt>{{ data.md5 }}</tt> (compatible with Gravatar)<br>
SHA1 hash: <tt>{{ data.sha1 }}</tt><br>
SHA256 hash: <tt>{{ data.sha256 }}</tt></p>

<p>This is what the libravatars look depending on the hashing algorithm you use:</p>
<ul>
  <li><img class="thumbnail" src="http://libravatar.org/avatar/{{ data.md5 }}" alt=""><br>MD5</li>
  <li><img class="thumbnail" src="http://libravatar.org/avatar/{{ data.sha1 }}" alt=""><br>SHA1</li>
  <li><img class="thumbnail" src="http://libravatar.org/avatar/{{ data.sha256 }}" alt=""><br>SHA256</li>
</ul>

{% endif %}

{% endblock content %}
