/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder {
  text-align: left;
}

.jcrop-vline, .jcrop-hline {
  background: white url('../img/Jcrop.gif') top left repeat;
  font-size: 0;
  position: absolute;
}

.jcrop-vline {
  height: 100%;
  width: 1px !important;
}

.jcrop-hline {
  height: 1px !important;
  width: 100%;
}

.jcrop-handle {
  background-color: #333;
  border: 1px #eee solid;
  font-size: 1px;
  height: 7px !important;
  width: 7px !important;
}

.jcrop-tracker {
  height: 100%;
  width: 100%;
}

.custom .jcrop-vline, .custom .jcrop-hline {
  background: yellow;
}

.custom .jcrop-handle {
  background-color: #C7BB00;
  border-color: black;
  border-radius: 3px;
}
