/* Main palette from http://www.colourlovers.com/palette/1198267/am_go_on */

body {
  background-color: #547885;
  margin: 0;
}

#site-name {
  color: #FCDDA5;
  font-size: 2em;
  font-style: normal;
  letter-spacing: 0.35em;
}

#not-yet-ready {
  color: #F9711F;
  font-weight: bold;
  font-size: 1.5em;
}

#logo {
  float: left;
  margin: 0 1em 0 0;
}

#logo img {
  border: 0;
}

#site-branding {
  color: #7DB5A6;
  font-style: italic;
  float: left;
}

h1 {
  color: #F9711F;
}

h2 {
  color: #F9711F;
  font-weight: normal;
}

.error, .errorlist li {
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#outer {
  background-color: #BF9C82;
  padding: 16px;
}

#header, #footer {
  color: #FCDDA5;
}

a {
  color: #F9711F;
  font-weight: bold;
}

#header {
  height: 54px;
  padding: 8px 8px 16px 8px;
}

#footer {
  padding: 16px 8px 8px 8px;
  font-size: small;
}

#account {
  text-align: right;
}

#content {
  background-color: #FFFFFF;
  padding: 8px 16px 16px 16px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#content a {
  color: #7DB5A6;
}

.thumbnail {
  height: 80px;
  width: 80px;
  border: none;
}

.avatar-list {
  padding: 0;
  margin: 0 0 0 1.5em;
  height: 105px;
}

.avatar-list .editable {
  margin: 0 8px 0 0;
}

ul li {
  list-style-type: none;
}

.horizontal-list li {
  display: inline;
  float: left;
  margin: 0 15px 15px 0;
}

.centered li {
  text-align: center;
  vertical-align: middle;
}

.imported-list {
  padding: 0;
  margin: 0 0 0 1.5em;
  height: 125px;
}

.conditions {
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  list-style-type: none;
  margin: 0;
}

#sponsors {
  text-align: center;
}

#sponsors img {
  border: 0;
  padding: 1em;
}

.avatar-chooser {
  float: left;
}

#action-panel {
  float: right;
  margin: 20px;
  padding: 5px 20px 15px 20px;
  border: 5px;
  border-style: dashed;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#id_openid {
    background : #FFFFFF url("../img/openid_logo.png") no-repeat scroll 0pt 50%;
    padding : 4px 18px;
    width: 400px;
}

#contribute-button {
    text-align: center;
}

#contribute-button a {
    border: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #F9711F;
    color: #FFFFFF;
    -moz-border-radius:8px;
    border-radius: 8px;
    padding: 3px 5px 5px 5px;
    text-decoration: none;
    font-size: 1.5em;
}

#agpl-button {
    border: none;
    vertical-align: middle;
    padding: 0 5px 0 0;
}
