Source: libravatar
Section: web
Priority: extra
Maintainer: Francois Marier <francois@debian.org>
Build-Depends: codespell,
               debhelper (>=9),
               dh-python,
               pep8,
               pyflakes,
               pylint,
               python (>= 2.7),
               python-bcrypt,
               python-django,
               python-django-auth-openid,
               python-dns,
               python-gearman,
               python-imaging,
               python-openid,
               python-requests,
               yui-compressor
Standards-Version: 3.9.6
Homepage: https://www.libravatar.org
Vcs-git: https://git.nzoss.org.nz/libravatar/libravatar.git
Vcs-browser: https://git.nzoss.org.nz/libravatar/libravatar

Package: libravatar
Architecture: all
Depends: libravatar-cdn, libravatar-www, ${misc:Depends}
Recommends: libravatar-seccdn
Description: avatar image hosting - full install
 Libravatar is a free service for hosting profile images tied to your
 email address or OpenID.
 .
 This is a virtual package to install all of the components necessary to
 run a full Libravatar server on a single host.

Package: libravatar-www
Architecture: all
Depends: advancecomp,
         apache2,
         ca-certificates,
         debconf,
         exiftran,
         gearman-job-server,
         gearman-tools,
         gifsicle,
         jpegoptim,
         libapache2-mod-wsgi,
         libjs-jquery (>= 1.5),
         libravatar-common (=${source:Version}),
         optipng,
         pngcrush,
         python (>= 2.6),
         python-bcrypt,
         python-django,
         python-django-auth-openid,
         python-dns,
         python-gearman,
         python-imaging,
         python-openid,
         python-psycopg2,
         python-requests,
         ${misc:Depends},
         ${python:Depends}
Recommends: awstats
Description: avatar image hosting - main web application
 Libravatar is a free service for hosting profile images tied to your
 email address or OpenID.
 .
 Main Libravatar application for uploading images and associating
 them with email addresses.

Package: libravatar-cdn-common
Architecture: all
Depends: apache2,
         apt-transport-https,
         debconf,
         libapache2-mod-removeip,
         libravatar-common (=${source:Version}),
         ntp,
         ${misc:Depends}
Description: avatar image hosting - common cdn files
 Libravatar is a free service for hosting profile images tied to your
 email address or OpenID.
 .
 Files needed by both Libravatar CDN packages.

Package: libravatar-cdn
Architecture: all
Depends: libravatar-cdn-common (=${source:Version}), ${misc:Depends}
Recommends: awstats
Description: avatar image hosting - mirror node
 Libravatar is a free service for hosting profile images tied to your
 email address or OpenID.
 .
 Package for running a mirror of the Libravatar avatar images and
 join the content delivery network.

Package: libravatar-seccdn
Architecture: all
Depends: libravatar-cdn-common (=${source:Version}), ${misc:Depends}
Recommends: awstats
Description: avatar image hosting - https mirror node
 Libravatar is a free service for hosting profile images tied to your
 email address or OpenID.
 .
 Package for running a mirror of the Libravatar avatar images and
 join the content delivery network over https.

Package: libravatar-common
Architecture: all
Depends: debconf, ${misc:Depends}
Description: avatar image hosting - common files
 Libravatar is a free service for hosting profile images tied to your
 email address or OpenID.
 .
 This is an empty package which contains configuration needed by the
 main Libravatar website and both CDN packages.

Package: libravatar-master
Architecture: all
Depends: libravatar-www, rssh, rsync, ${misc:Depends}
Suggests: libravatar-deployment
Description: avatar image hosting - mirror master
 Libravatar is a free service for hosting profile images tied to your
 email address or OpenID.
 .
 Package for giving mirror updates to slaves.

Package: libravatar-slave
Architecture: all
Recommends: libravatar-seccdn
Depends: libravatar-cdn, rsync, ${misc:Depends}
Suggests: libravatar-deployment
Conflicts: libravatar-www
Description: avatar image hosting - mirror slave
 Libravatar is a free service for hosting profile images tied to your
 email address or OpenID.
 .
 Package for fetching mirror updates from the master server.

Package: libravatar-deployment
Architecture: all
Depends: ${misc:Depends}
Conflicts: needrestart, needrestart-session
Description: avatar image hosting - deployment account
 Libravatar is a free service for hosting profile images tied to your
 email address or OpenID.
 .
 Create a deployment account so that the Libravatar packages can
 be managed by the Libravatar core team.
