#!/bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Decide how important it is for the user to see this message
PRIORITY=high

db_input $PRIORITY libravatar-common/webmasteremail || true
db_input $PRIORITY libravatar-common/cdnservername || true
db_input $PRIORITY libravatar-common/cdnserveralias || true
db_input $PRIORITY libravatar-common/seccdnservername || true
db_input $PRIORITY libravatar-common/seccdnserveralias || true
db_input $PRIORITY libravatar-common/wwwservername || true
db_input $PRIORITY libravatar-common/wwwserveralias || true
db_go
