#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@

override_dh_installinit:
	dh_installinit --name=deletephoto
	dh_installinit --name=ready2user
	dh_installinit --name=cropresize
	dh_installinit --name=changephoto
	dh_installinit --name=resizeavatar
	dh_installinit --name=exportaccount
	dh_installinit

override_dh_install:
	dh_install
	find $(CURDIR)/debian/libravatar-www/usr/share/libravatar/libravatar/locale -type l -name "*.po" -delete
