<h1>Photo lookup</h1>

<form action="{% url libravatar.tools.views.check %}" method="post">

<p><label for="id_email">{{ form.email.label_tag }}:</label>{{ form.email }}
<input type="submit" value="Check"></form></p>

{% if data %}

<p>MD5 hash: <tt>{{ data.md5 }}</tt> (compatible with Gravatar)<br>
SHA1 hash: <tt>{{ data.sha1 }}</tt><br>
SHA256 hash: <tt>{{ data.sha256 }}</tt></p>

<p>This is what the libravatars look depending on the hashing algorithm you use:</p>
<ul>
  <li><img src="http://libravatar.org/avatar/{{ data.md5 }}"><br>MD5</li>
  <li><img src="http://libravatar.org/avatar/{{ data.sha1 }}"><br>SHA1</li>
  <li><img src="http://libravatar.org/avatar/{{ data.sha256 }}"><br>SHA256</li>
</ul>

{% endif %}
