{% extends 'base.html' %}
{% block title %}Libravatar - federated avatar hosting service{% endblock title %}

{% block content %}

<div id="action-panel">
  <h2>Get Involved!</h2>
  {% if not user.is_authenticated and not disable_signup %}
  <p>Create a <a href="{% url libravatar.account.views.new %}">free account</a></p>
  {% endif %}
  <p>Download the <a href="https://code.launchpad.net/libravatar">source code</a></p>
  <p>File <a href="https://bugs.launchpad.net/libravatar">bugs</a> or ask <a href="https://answers.launchpad.net/libravatar">questions</a></p>
  <p>Join the <a href="https://launchpad.net/~libravatar-fans">mailing list</a></p>
  <p>Follow us on <a href="http://identi.ca/libravatar">Identica</a> and <a href="http://twitter.com/libravatar">Twitter</a></p>
</div>

<p>Libravatar is a service which delivers your avatar (profile picture) to other websites. If you <a href="{% url libravatar.account.views.new %}">create an account</a> with us, your photo could start popping up next to forum posts or blog comments on any site where you left your email address.</p>

<h2>Federated Open Source Service</h2>

<p>This service is powered by <a href="http://www.gnu.org/licenses/agpl.html">Free and Open Source software</a> and allows owners of a domain name to <a href="{% url libravatar.public.views.run_your_own %}">run their own instance</a> of Libravatar and serve avatars themselves.</p>

<h2>Simple API for Developers</h2>

<p>Application developers can easily add support for this service using our <a href="{% url libravatar.public.views.api %}">simple API</a> or one of the <a href="{% url libravatar.public.views.libraries %}">libraries and plugins</a> available for a number of platforms and languages.</p>

<p>Big thanks to our sponsors without whom none of this would be possible!</p>

<div id="sponsors">
  <a href="http://www.braawi.com"><img src="{{media_url}}/img/braawi_logo.png" width="140" height="140" alt="Braawi"></a>
  <a href="http://www.branchable.com"><img src="{{media_url}}/img/branchable_logo.gif" width="150" height="175" alt="Branchable"></a>
<script type='text/javascript'>
 var ab_h = '048d46ba390d8db7b7b9f60f83f07642';
 var ab_s = 'e1105af7e8a968cc236c5d0c209aa074';
</script>
<script type='text/javascript' src='http://cdn1.adbard.net/js/ab2.js'></script>
</div>

{% endblock content %}
