# Django settings for libravatar project.

DEBUG = False
TEMPLATE_DEBUG = DEBUG

import os
PROJECT_ROOT = os.path.dirname(os.path.dirname(__file__))

SITE_NAME = 'libravatar.org'
SITE_URL = 'http://www.libravatar.org'
FROM_ADDRESS = 'accounts@libravatar.org'
SUPPORT_EMAIL = 'support@libravatar.org'

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        "NAME": 'libravatar',                      # Or path to database file if using sqlite3.
        "USER": 'djangouser',                      # Not used with sqlite3.
        "PASSWORD": '',                  # Not used with sqlite3.
        "HOST": '',                      # Set to empty string for localhost. Not used with sqlite3.
        "PORT": '',
    }
}

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'Etc/UTC'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# Absolute path to the directory that holds media.
# Example: "/home/libravatar/static/"
MEDIA_ROOT = '%s/static/' % PROJECT_ROOT

# URL that handles the static files served from MEDIA_ROOT
MEDIA_URL = 'http://cdn.libravatar.org'
# Enable this if you can serve your avatars over https
SECURE_MEDIA_URL = 'https://seccdn.libravatar.org'
#SECURE_MEDIA_URL = None

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = '/media/'

# Make this unique, and don't share it with anybody.
SECRET_KEY = '+%&mv-4l5lrv^6nn9a-h4l1o2jqw_x^cf276mjz)$52aruy(g7'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.load_template_source',
    'django.template.loaders.app_directories.load_template_source',
#     'django.template.loaders.eggs.load_template_source',
)

AUTHENTICATION_BACKENDS = (
    # Enable this to allow LDAP authentication. See INSTALL for more information.
    # 'django_auth_ldap.backend.LDAPBackend',
    'django.contrib.auth.backends.ModelBackend',
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
)

ROOT_URLCONF = 'libravatar.urls'

TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    '%s/libravatar/templates' % PROJECT_ROOT,
)

TEMPLATE_CONTEXT_PROCESSORS = (
    "django.contrib.auth.context_processors.auth",
    "django.core.context_processors.debug",
    "django.core.context_processors.i18n",
    "django.core.context_processors.media",
    "django.contrib.messages.context_processors.messages",
    "libravatar.context_processors.basepage"
)

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'libravatar.account',
    'libravatar.public',
    'libravatar.tools',
)

LOGIN_URL = '/account/login/'
LOGIN_REDIRECT_URL = '/account/profile/' # Set to /account/profile_success/ for authenticating ldap users

# Path and URL for images uploaded by users
UPLOADED_FILES_ROOT = '%s/uploaded/' % PROJECT_ROOT
UPLOADED_FILES_URL = '%s/uploaded/' % SITE_URL

# Path for images that were cropped and resized
READY_FILES_ROOT = '%s/ready/' % PROJECT_ROOT

# Path and URL for images uploaded by users and ready to be served
USER_FILES_ROOT = '%s/user/' % PROJECT_ROOT
USER_FILES_URL = '%s/user/' % SITE_URL

# Path where avatars are stored
AVATAR_ROOT = '%s/avatar/' % PROJECT_ROOT

# URL where avatars are served
AVATAR_URL = '%s/avatar/' % MEDIA_URL
SECURE_AVATAR_URL = None
if SECURE_MEDIA_URL:
    SECURE_AVATAR_URL = '%s/avatar/' % SECURE_MEDIA_URL

AVATAR_DEFAULT_SIZE = 80
AVATAR_MIN_SIZE = 1
AVATAR_MAX_SIZE = 512

# StatusNet uses 48 and 96
# Launchpad uses 16, 64 and 192
# Mahara uses 20, 40 and 50
AVATAR_PREGENERATED_SIZES = [80]

# The maximum number of unconfirmed email addresses per profile
MAX_NUM_UNCONFIRMED_EMAILS = 10

# The maximum number of photos per profile
MAX_NUM_PHOTOS = 4
# Maximum file size for each photo
MAX_PHOTO_SIZE = 1048576 # in bytes

# Quality can be from 1 to 95
JPEG_QUALITY = 75

DEFAULT_PHOTO = 'nobody.jpg'
LIBRAVATAR_VERSION = '0.1'

GEARMAN_SERVERS = ['localhost']

# If you want to enable non-free tracking of users
# TODO: switch to a FaiF service
ANALYTICS_PROPERTYID = ''

# Session settings
SESSION_EXPIRE_AT_BROWSER_CLOSE = True
# TODO: SESSION_COOKIE_SECURE = True

# LDAP Authentication
AUTH_LDAP_SERVER_URI = "ldap://ldap.example.com:389/"
AUTH_LDAP_USER_DN_TEMPLATE = "uid=%(user)s,ou=StaffGroup,dc=example,dc=com"
AUTH_LDAP_USER_ATTR_MAP = {
    'first_name':       'givenName',
    'last_name':        'sn',
    'email':            'mail',
}
AUTH_LDAP_USER_PHOTO = 'jpegPhoto'

# To prevent sign-up, for instance on an intranet relying on external authentication, set this to true:
DISABLE_SIGNUP = False

# To restrict email addresses to a given domain, enter it here
REQUIRED_DOMAIN = ''
