{% load i18n %}<!DOCTYPE HTML>
{% spaceless %}<html>
<head>
    <link rel="author" type="text/plain" href="/humans.txt">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/embedded.css" type="text/css">
    <title>{% block title %}Libravatar - {% trans 'Freeing the Web, one face at a time!' %}{% endblock title %}</title>
{% block header %}{% endblock header %}
</head>
<body>
<span id="browserid-user" style="display: none">{{browserid_user}}</span>

{% block content %}{% endblock content %}

<div id="footer">
  <script src="/js/jquery.min.js" defer></script>
  {% block footer %}{% endblock footer %}
  <script src="/js/embedded.js" defer></script>
  <script src="https://login.persona.org/include.js" defer></script>
  <script src="/js/libravatar.js" defer></script>
</div>

</body>
</html>{% endspaceless %}
