{% load i18n %}<!DOCTYPE HTML>
{% spaceless %}<html>
<head>
    <link rel="author" type="text/plain" href="/humans.txt">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="https://seccdn.libravatar.org/nobody/57.png">{# iPhone #}
    <link rel="apple-touch-icon" sizes="72x72" href="https://seccdn.libravatar.org/nobody/72.png">{# iPad #}
    <link rel="apple-touch-icon" sizes="114x114" href="https://seccdn.libravatar.org/nobody/114.png">{# iPhone (hi-res) #}
    <link rel="apple-touch-icon" sizes="120x120" href="https://seccdn.libravatar.org/nobody/120.png">{# iPhone (retina) #}
    <link rel="apple-touch-icon" sizes="144x144" href="https://seccdn.libravatar.org/nobody/144.png">{# iPad (hi-res) #}
    <link rel="apple-touch-icon" sizes="152x152" href="https://seccdn.libravatar.org/nobody/152.png">{# iPad (retina) #}
    <link rel="icon" href="https://seccdn.libravatar.org/nobody/32.png" sizes="32x32">
    <link rel="icon" href="https://seccdn.libravatar.org/nobody/96.png" sizes="96x96">
    <link rel="icon" href="https://seccdn.libravatar.org/nobody/128.png" sizes="128x128">
    <link rel="icon" href="https://seccdn.libravatar.org/nobody/195.png" sizes="195x195">
    <link rel="stylesheet" href="/css/libravatar.css" type="text/css">
    <meta name="msapplication-TileImage" content="https://seccdn.libravatar.org/nobody/144.png"/>
    <meta name="msapplication-TileColor" content="#fa711f"/>
    <title>{% block title %}Libravatar - {% trans 'Freeing the Web, one face at a time!' %}{% endblock title %}</title>
{% block header %}{% endblock header %}
</head>
<body>

<div id="header">
  <div>
  <div id="logo">
    <a href="{{ site_url }}"><img src="/img/logo.png" height="60" width="60" alt="{% trans 'Homepage' %}"></a>
  </div>
  <div id="site-branding">
    <span id="site-name">libr<span class="bolder">avatar</span></span>
    <br>{% trans 'freeing the web one face at a time' %}
  </div>
  </div>
  <div id="account">
    <span id="browserid-user" class="hidden">{{browserid_user}}</span>
    {% if user.is_authenticated %}
    <a href="{% url 'libravatar.account.views.profile' %}">{% trans 'Profile' %}</a>&nbsp;|&nbsp;
    <a href="{{ contact_us }}">{% trans 'Contact Us' %}</a>&nbsp;|&nbsp;
    <a href="{{ security_url }}">{% trans 'Security' %}</a>&nbsp;|&nbsp;
    <a href="{% url 'django.contrib.auth.views.logout' %}" id="logout-link">{% trans 'Logout' %}</a>
    {% else %}
    <a href="{{ contact_us }}">{% trans 'Contact Us' %}</a>&nbsp;|&nbsp;
    <a href="{{ security_url }}">{% trans 'Security' %}</a>&nbsp;|&nbsp;
    <a href="{% url 'django.contrib.auth.views.login' %}">{% trans 'Login' %}</a>
    {% endif %}
  </div>
</div>

<div id="outer">
  <div id="content">
    {% block content %}{% endblock content %}
  </div>
</div>

<div id="footer">
  <a rel="license" href="http://www.gnu.org/licenses/agpl-3.0.html" id="agpl-button" title="{% trans 'GNU Affero General Public License' %}"></a> {% blocktrans %}<b>{{ site_name }}</b> is an avatar service running the <a href="https://launchpad.net/libravatar">Libravatar</a>
  software, version {{ libravatar_version }}{% endblocktrans %}
  <a href="https://flattr.com/thing/311293/Libravatar" id="flattr-button" title="{% trans 'Flattr this!' %}"></a>
  <a href="https://salt.bountysource.com/checkout/amount?team=libravatar" id="bountysource-button" title="Bountysource"></a>
  <a id="gratipay-button" href="https://gratipay.com/libravatar/" title="Gratipay"></a>
  <script src="/js/jquery.min.js" defer></script>
  {% block footer %}{% endblock footer %}
  <script src="https://login.persona.org/include.js" defer></script>
  <script src="/js/libravatar.js" defer></script>
</div>

</body>
</html>{% endspaceless %}
