{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Add a new email address' %} - Libravatar{% endblock title %}

{% block body-onload %}document.forms.addemail.email.focus(){% endblock body-onload %}
{% block content %}

<h1>{% trans 'Add a new email address' %}</h1>

<form action="{% url libravatar.account.views.add_email %}" name="addemail" method="post">{% csrf_token %}

{{ form.email.errors }}
<p class="aligned wide">{{ form.email.label_tag }}: {{ form.email }}</p>

<p class="hint">{% blocktrans with sender_email as sender_email %}Please check your email for a message from us. You may need to whitelist <tt>{{ sender_email }}</tt> or check the junk folder.{% endblocktrans %}</p>

<p><input type="submit" value="{% trans 'Add' %}" />
&nbsp;<a href="{% url libravatar.account.views.profile %}">{% trans 'Cancel' %}</a></p>

</form>

{% endblock content %}
