{% extends base_template %}
{% load i18n %}

{% block title %}{% blocktrans with email.email as email_address %}Choose a photo for {{ email_address }}{% endblocktrans %} - Libravatar{% endblock title %}

{% block content %}

<h1>{% blocktrans with email.email as email_address %}Choose a photo for {{ email_address }}{% endblocktrans %}</h1>

{% if not photos %}

{% url libravatar.account.views.upload_photo as upload_url %}
<p>{% blocktrans %}You need to <a href="{{ upload_url }}">upload some photos</a> first!{% endblocktrans %}</p>

<p><a href="{% url libravatar.account.views.profile %}">{% trans 'Back to your profile' %}</a></p>

{% else %}

<p>{% trans 'Here are the pictures you have uploaded, click on the one you wish to associate with this email address:' %}</p>
<ul class="horizontal-list avatar-list centered">
{% for photo in photos %}
  {%if photo.exists %}
  <li>
  <form action="{% url libravatar.account.views.assign_photo_email email.id %}{% if embedded %}?embedded=1{% endif %}" method="post">{% csrf_token %}
  <input type="hidden" name="photo_id" value="{{ photo.id }}">
  <input type="image" name="photo{{ photo.id }}" src="{{ photo }}" class="thumbnail">
  {% ifequal email.photo.id photo.id %}
  <br>{% trans '(current)' %}
  {% endifequal %}
  </form></li>
  {% endif %}
{% endfor %}
  <li>
  <form action="{% url libravatar.account.views.assign_photo_email email.id %}{% if embedded %}?embedded=1{% endif %}" method="post">{% csrf_token %}
  <input type="submit" name="photoNone" value="{% trans 'None' %}">
  {% ifequal email.photo.id photo.id %}
  <br>{% trans '(current)' %}
  {% endifequal %}
  </form></li>
</ul>

<p>{% blocktrans %}or <a href="{{custom_upload_url}}">upload a new one</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock content %}
