{% extends 'base.html' %}
{% block title %}Choose a photo for {{openid.openid}} - Libravatar{% endblock title %}

{% block content %}

<h1>Choose a photo for {{openid.openid}}</h1>

{% if not photos %}

<p>You need to <a href="{% url libravatar.account.views.upload_photo %}">upload some photos</a> first!</p>

<p><a href="{% url libravatar.account.views.profile %}">Back to your profile</a></p>

{% else %}

<p>Here are the pictures you have uploaded, click on the one you wish to associate with this OpenID:</p>
<ul class="horizontal-list avatar-list centered">
{% for photo in photos %}
  <li>
  <form action="{% url libravatar.account.views.assign_photo_openid openid.id %}" method="post">{% csrf_token %}
  <input type="hidden" name="photo_id" value="{{ photo.id }}">
  <input type="image" name="photo{{ photo.id }}" src="{{ photo }}" class="thumbnail">
  {% ifequal openid.photo.id photo.id %}
  <br>(current)
  {% endifequal %}
  </form></li>
{% endfor %}
  <li>
  <form action="{% url libravatar.account.views.assign_photo_openid openid.id %}" method="post">{% csrf_token %}
  <input type="submit" name="photoNone" value="None">
  {% ifequal openid.photo.id photo.id %}
  <br>(current)
  {% endifequal %}
  </form></li>
</ul>


{% endif %}

{% endblock content %}
