{% extends 'base.html' %}
{% block title %}Libravatar: Upload photo{% endblock title %}

{% block content %}
<noscript>
<meta http-equiv="refresh" content="0;url={% url libravatar.account.views.auto_crop photo.id %}"/>
</noscript>
<h1>Crop photo</h1>

<form action="{% url libravatar.account.views.crop_photo photo.id %}" method="post">
<p class="aligned wide"><img src='{{photo}}' id='cropbox' /></p>
<input type='hidden' id='x' name='x' value='0'/>
<input type='hidden' id='y' name='y' value='0'/>
<input type='hidden' id='w' name='w' value='0'/>
<input type='hidden' id='h' name='h' value='0'/>
<p><input type="submit" value="Crop" />
<a href="{% url libravatar.account.views.profile %}">Cancel</a></p>

</form>

{% endblock content %}
