{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Crop photo' %} - Libravatar{% endblock title %}
{% block header %}<link rel='stylesheet' href='/css/jcrop.css' type='text/css'/>{%endblock%}
{% block content %}
<noscript>
<meta http-equiv="refresh" content="0;url={% url libravatar.account.views.auto_crop photo.id %}"/>
</noscript>
<h1>{% trans 'Crop photo' %}</h1>

<form action="{% url libravatar.account.views.crop_photo photo.id %}" method="post">{% csrf_token %}
<p class="aligned wide"><img src='{{photo.uploaded_pathname}}' id='cropbox' /></p>
<input type='hidden' id='x' name='x' value='0'/>
<input type='hidden' id='y' name='y' value='0'/>
<input type='hidden' id='w' name='w' value='0'/>
<input type='hidden' id='h' name='h' value='0'/>
<p><input type="submit" value="{% trans 'Crop' %}" />
&nbsp;<a href="{% url libravatar.account.views.profile %}">{% trans 'Cancel' %}</a></p>

</form>

{% endblock content %}
{% block footer %}<script src='/js/jcrop.js' type='text/javascript'></script>
<script type="text/javascript">
//<![CDATA[
$(window).ready(function(){
    $('#cropbox').Jcrop({
        onSelect: changeCoords,
        aspectRatio: 1,
        boxWidth: 800,
        boxHeight: 600,
        bgColor: '#000',
        bgOpacity: .4
    });
});

function changeCoords(c) {
    $('#x').val(c.x);
    $('#y').val(c.y);
    $('#w').val(c.w);
    $('#h').val(c.h);
}
//]]>
</script>{% endblock %}
