{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Delete your Libravatar account' %}{% endblock title %}

{% block content %}

<h1>{% trans 'Delete your account' %}</h1>

<p><strong>{% trans 'There is no way to undo this operation.' %}</strong></p>

<form action="{% url 'libravatar.account.views.delete' %}" method="post" name="deleteaccount" id="form-deleteaccount">{% csrf_token %}

{% if has_password %}
<p>{% trans 'Please confirm your identity by entering your current password.' %}</p>

{{ form.password.errors }}
<p class="aligned wide">{{ form.password.label_tag }} {{ form.password }}</p>
{% endif %}

<p>{% trans 'Are you sure you want to <strong>permanently delete</strong> your Libravatar account?' %}</p>

<p><input type="submit" value="{% trans 'Yes, delete all of my stuff' %}" id="deleteaccount-button">
&nbsp;<a href="{% url 'libravatar.account.views.profile' %}">{% trans 'Cancel' %}</a></p>

</form>

{% endblock content %}
