{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Delete a photo' %} - Libravatar{% endblock title %}

{% block content %}

<h1>{% trans 'Delete photo' %}</h1>

<p>{% trans 'Are you sure you want to delete this photo?' %}</p>

<p><img src="{{ photo }}" alt=""></p>

<form action="{% url 'libravatar.account.views.delete_photo' photo.id %}" method="post">{% csrf_token %}

<p><input type="submit" value="{% trans 'Delete' %}">
&nbsp;<a href="{% url 'libravatar.account.views.profile' %}">{% trans 'Cancel' %}</a></p>

</form>

{% endblock content %}
