{% extends 'base.html' %}
{% block title %}Email confirmation - Libravatar{% endblock title %}

{% block content %}

<h1>Email confirmation</h1>

<p><b>Your email address was successfully confirmed!</b></p>

{% if photos %}

<p>Would you like to import some these externally hosted photos?</p>
<form action="{% url libravatar.account.views.import_photo user.id %}" method="post">{% csrf_token %}
<input type="hidden" name="email_id" value="{{ email_id }}">
<ul class="horizontal-list imported-list centered">
{% for photo in photos %}
  <li><input type="checkbox" name="photo_{{photo.service_name}}" id="photo_{{photo.service_name}}" checked="checked">
  <br/><label for="photo_{{photo.service_name}}"><img src="{{ photo.thumbnail_url }}" class="thumbnail" alt="{{photo.service_name}} image"></label>
  <br/>
  {% if photo.service_url %}
  <a href="{{ photo.service_url }}">{{ photo.service_name }}</a>
  {% else %}
  {{ photo.service_name }}
  {% endif %}
  </li>
{% endfor %}
</ul>

<p><input type="submit" value="Import"></p>
</form>

{% endif %}

{% if not user.is_anonymous %}
<p><a href="{% url libravatar.account.views.profile %}">Back to your profile</a></p>
{% endif %}

{% endblock content %}
