{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Export your Libravatar data' %}{% endblock title %}

{% block content %}

<h1>{% trans 'Export your data' %}</h1>

<p>{% trans 'Libravatar will now export all of your personal data to a compressed XML file.' %}</p>

<form action="{% url 'libravatar.account.views.export' %}" method="post" name="export">{% csrf_token %}

<p><input type="submit" value="{% trans 'Export' %}">
&nbsp;<a href="{% url 'libravatar.account.views.profile' %}">{% trans 'Cancel' %}</a></p>

</form>

{% endblock content %}
