{% extends 'base.html' %}
{% block title %}Exporting Your Libravatar Data{% endblock title %}

{% block content %}

<h1>Export in progress</h1>

<p>Libravatar is currently exporting your data. It <b>may take a few moments</b> for the file to be available:</p>

<ul>
  <li><a href="{{download_url}}">{{user.username}}.xml.gz</a></li>
</ul>

<p><i>This export will be deleted in a few hours.</i></p>

<p><a href="{% url libravatar.account.views.profile %}">Back to your profile</a></p>

{% endblock content %}
