{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Libravatar Login' %}{% endblock title %}

{% block body-onload %}document.forms.login.username.focus(){% endblock body-onload %}
{% block content %}

<h1>{% trans 'Login' %}</h1>

{% if not disable_signup %}
{% url libravatar.account.views.new as signup_url %}
<p>{% blocktrans %}Don't have an account yet? <a href="{{ signup_url }}">Sign up now!</a>{% endblocktrans %}</p>
{% endif %}

{% url django_openid_auth.views.login_begin as openid_login_url %}
<p>{% blocktrans %}You'd rather use your <b>OpenID</b>? That's fine, just use <a href="{{ openid_login_url }}">this login form</a> instead.{% endblocktrans %}</p>

{% if form.errors %}
<p class="error">{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<form method="post" name="login" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}

<table summary="">
<tr>
    <td>{{ form.username.label_tag }}:</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}:</td>
    <td>{{ form.password }}</td>
</tr>
</table>

{% if not disable_signup %}
{% url libravatar.account.views.password_reset as password_reset_url %}
<p>{% blocktrans %}Forgot your password? <a href="{{ password_reset_url }}">Reset it by email</a>.{% endblocktrans %}</p>
{% endif %}

<p><input type="submit" value="{% trans 'Login' %}" />
<input type="hidden" name="next" value="{{ next }}" />
&nbsp;<a href="{% url libravatar.public.views.home %}">{% trans 'Cancel' %}</a></p>

</form>

{% endblock content %}
