{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Libravatar Login' %}{% endblock title %}

{% block header %}<link rel="prefetch" href="/img/nobody.png">
<link rel="prefetch" href="/img/delete_button.png">{% endblock header %}

{% block content %}

<h1>{% trans 'Login' %}</h1>

{% if not disable_signup %}
{% url libravatar.account.views.new as signup_url %}
<p>{% blocktrans %}Don't have an account yet? <a href="{{ signup_url }}">Sign up now!</a>{% endblocktrans %}</p>
{% endif %}

{% url django_openid_auth.views.login_begin as openid_url %}
<p>{% blocktrans %}Do you hate having lots of passwords? You can login with <a href="{{openid_url}}">OpenID</a>
<span id="browserid-option"> or <a id="browserid-link" href="#">Persona</a></span> instead!{% endblocktrans %}</p>

{# Invisible form to process BrowserID assertions #}
<form id="browserid-form" action="{% url libravatar.account.views.login_browserid %}" name="loginbrowserid" method="post">{% csrf_token %}
<input id="browserid-assertion" type="hidden" name="assertion" value="">
<input style="display: none" type="submit">
</form>

{% if form.errors %}
<p class="error">{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<form method="post" name="login" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}

<table summary="">
<tr>
    <td>{{ form.username.label_tag }}:</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}:</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<p><input type="submit" value="{% trans 'Login' %}" />
<input type="hidden" name="next" value="{{ next }}" />
&nbsp;<a href="{% url libravatar.public.views.home %}">{% trans 'Cancel' %}</a></p>

</form>

{% if not disable_signup %}
{% url libravatar.account.views.password_reset as password_reset_url %}
<p>{% blocktrans %}Forgot your password? <a href="{{ password_reset_url }}">Reset it by email</a>.{% endblocktrans %}</p>
{% endif %}

{% endblock content %}

{% block footer %}
<script src="https://login.persona.org/include.js" defer></script>
{% endblock footer %}
