{% extends 'base.html' %}
{% block title %}Libravatar: Create account{% endblock title %}

{% block content %}

<h1>Create a new account</h1>

<form action="{% url libravatar.account.views.new %}" method="post">{% csrf_token %}

{{ form.username.errors }}
<p class="aligned wide">{{ form.username.label_tag }}: {{ form.username }}</p>
{{ form.password1.errors }}
<p class="aligned wide">{{ form.password1.label_tag }}: {{ form.password1 }}</p>
{{ form.password2.errors }}
<p class="aligned wide">{{ form.password2.label_tag }}: {{ form.password2 }}</p>

<p><input type="submit" value="Create account" /></p>
</form>

{% endblock content %}
