{% extends 'base.html' %}
{% block title %}Libravatar: Create account{% endblock title %}

{% block content %}

<h1>Create a new account</h1>

<form action="{% url libravatar.account.views.new %}" method="post">

{{ form.username.errors }}
<p class="aligned wide"><label for="id_username">{{ form.username.label_tag }}:</label>{{ form.username }}</p>
{{ form.password1.errors }}
<p class="aligned wide"><label for="id_password1">{{ form.password1.label_tag }}:</label>{{ form.password1 }}</p>
{{ form.password2.errors }}
<p class="aligned wide"><label for="id_password2">{{ form.password2.label_tag }}:</label>{{ form.password2 }}</p>

<p><input type="submit" value="Create account" /></p>
</form>

{% endblock content %}
