{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password changed successfully' %} - Libravatar{% endblock title %}

{% block content %}

<h1>{% trans 'Password changed successfully' %}</h1>

<p>{% trans 'Your password was changed.' %}</p>

{% if not user.is_anonymous %}
<p><a href="{% url 'libravatar.account.views.profile' %}">{% trans 'Back to your profile' %}</a></p>
{% else %}
<p><a href="{% url 'django.contrib.auth.views.login' %}">{% trans 'Back to the login page' %}</a></p>
{% endif %}

{% endblock content %}
