{% extends 'base.html' %}
{% block title %}Libravatar: Change password{% endblock title %}

{% block body-onload %}document.forms.changepassword.old_password.focus(){% endblock body-onload %}
{% block content %}

<h1>Change password</h1>

<form action="" method="post" name="changepassword">{% csrf_token %}

{% if form.old_password %}
{{ form.old_password.errors }}
<p class="aligned wide">{{form.old_password.label_tag}}: {{form.old_password}}</p>
{% endif %}

{{ form.new_password1.errors }}
<p class="aligned wide">{{form.new_password1.label_tag}}: {{form.new_password1}}</p>
{{ form.new_password2.errors }}
<p class="aligned wide">{{form.new_password2.label_tag}}: {{form.new_password2}}</p>

<p><input type="submit" value="Change my password" />
&nbsp;<a href="{% url libravatar.account.views.profile %}">Cancel</a></p>

</form>

{% endblock content %}
