{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Reset your Libravatar password' %}{% endblock title %}

{% block content %}

<h1>{% trans 'Reset password' %}</h1>

<p id="browserid-option">{% blocktrans with '#' as browserid_target %}Did you know that you can also <a id="browserid-link" href="{{browserid_target}}">sign in with BrowserID</a> and never have to remember a password again?{% endblocktrans %}</p>

{# Invisible form to process BrowserID assertions #}
<form id="browserid-form" action="{% url libravatar.account.views.login_browserid %}" name="loginbrowserid" method="post">{% csrf_token %}
<input id="browserid-assertion" type="hidden" name="assertion" value="">
<input style="display: none" type="submit">
</form>

<p>{% trans 'To continue with the password reset, enter one of the email addresses associated with your account.' %}</p>

<form action="" method="post" name="reset">{% csrf_token %}

{{ form.email.errors }}
<p class="aligned wide">{{form.email.label_tag}}: {{ form.email }}</p>

<p><input type="submit" value="{% trans 'Reset my password' %}" />
&nbsp;<a href="{% url libravatar.account.views.profile %}">{% trans 'Cancel' %}</a></p>

</form>

{% endblock content %}

{% block footer %}
<script src="https://browserid.org/include.js" type="text/javascript"></script>
{% endblock footer %}
