{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Change your Libravatar password' %}{% endblock title %}

{% block content %}

<h1>{% trans 'Change password' %}</h1>

<form action="" method="post" name="changepassword">{% csrf_token %}

<table summary="">
{% if form.old_password %}
{% if form.old_password.errors %}
<tr>
  <td colspan="2">{{ form.old_password.errors }}</td>
</tr>
{% endif %}
<tr>
  <td>{{ form.old_password.label_tag }}</td>
  <td>{{ form.old_password }}</td>
</tr>
{% endif %}

{% if form.new_password1.errors %}
<tr>
  <td colspan="2">{{ form.new_password1.errors }}</td>
</tr>
{% endif %}
<tr>
  <td>{{ form.new_password1.label_tag }}</td>
  <td>{{ form.new_password1 }}</td>
</tr>

{% if form.new_password2.errors %}
<tr>
  <td colspan="2">{{ form.new_password2.errors }}</td>
</tr>
{% endif %}
<tr>
  <td>{{ form.new_password2.label_tag }}</td>
  <td>{{ form.new_password2 }}</td>
</tr>
</table>

<p><input type="submit" value="{% trans 'Change my password' %}" />
&nbsp;<a href="{% url 'libravatar.account.views.profile' %}">{% trans 'Cancel' %}</a></p>

</form>

{% endblock content %}
