{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset requested' %} - Libravatar{% endblock title %}

{% block content %}

<p>{% trans 'You have sucessfully requested a password reset for your account.' %}</p>

<p>{% trans 'You will receive an email with the details on how to proceed.' %}</p>

<h2>{% trans "Still haven't received the email?" %}</h2>

<ul>
  <li>{% trans 'Did you look in your spam folder?' %}</li>
  <li>{% blocktrans %}Did you use an email address which is in the {{site_name}} system?{% endblocktrans %}</li>
  <li>{% trans 'Has this email address ever been confirmed within the system?' %}</li>
</ul>

{% url libravatar.account.views.new as new_account_url %}
<p>{% blocktrans %}If everything else fails, you can always <a href="{{ new_account_url }}">create a new account</a> or <a href="mailto:{{support_email}}">email us</a>.{% endblocktrans %}</p>

<p><a href="{% url libravatar.public.views.home %}">{% trans 'Back to the homepage' %}</a>.</p>

{% endblock content %}
