{% extends 'base.html' %}
{% block title %}Libravatar: Reset password{% endblock title %}

{% block content %}

<p>You have sucessfully requested a password reset for your account.</p>

<p>You will receive an email with the details on how to proceed.</p>

<h2>Still haven't received the email?</h2>

<ul>
  <li>Did you look in your spam folder?</li>
  <li>Did you use an email address which is in the {{site_name}} system?</li>
  <li>Has this email address ever been confirmed within the system?</li>
</ul>

<p>If everything else fails, you can always <a href="{% url libravatar.account.views.new %}">create a new account</a> or <a href="mailto:{{support_email}}">email us</a>.</p>

<p><a href="{% url libravatar.public.views.home %}">Back to the homepage</a>.</p>

{% endblock content %}
