{% extends 'base.html' %}
{% block title %}{{user.username}}'s Libravatar Profile{% endblock title %}

{% block content %}

<h1>{{user.username}}'s Profile</h1>

{% if confirmed_emails or openids %}
<p>You have the following confirmed email addresses and OpenIDs:</p>
<ul class="horizontal-list avatar-list">
    {% for email in confirmed_emails %}
        <li><form action="{% url libravatar.account.views.remove_confirmed_email email.id %}" method="post">{% csrf_token %}
        <a href="{% url libravatar.account.views.assign_photo_email email.id %}">
        <img class="thumbnail editable avatar-chooser" src="{{ email.photo_url }}" alt=""></a>
        {{ email.email }}
        <br><a href="{% url libravatar.account.views.assign_photo_email email.id %}">Change photo</a>
        <br><br><input type="image" src="{{ media_url }}/img/delete_button.png" value="Remove"></form></li>
    {% endfor %}
    {% for openid in confirmed_openids %}
        <li><form action="{% url libravatar.account.views.remove_confirmed_openid openid.id %}" method="post">{% csrf_token %}
        <a href="{% url libravatar.account.views.assign_photo_openid openid.id %}">
        <img class="thumbnail editable avatar-chooser" src="{{openid.photo_url}}" alt=""></a>
        {{openid.openid}}
        <br><a href="{% url libravatar.account.views.assign_photo_openid openid.id %}">Change photo</a>
        <br><br><input type="image" src="{{media_url}}/img/delete_button.png" value="Remove"></form></li>
    {% endfor %}
</ul>
<div style="clear:both"></div>
{% endif %}

{% if unconfirmed_emails or unconfirmed_openids %}
<p>You have the following unconfirmed email addresses and OpenIDs:</p>
<ul class="vertical-list">
    {% for email in unconfirmed_emails %}
        <li><form action="{% url libravatar.account.views.remove_unconfirmed_email email.id %}" method="post">{% csrf_token %}{{ email.email }}
        <input type="image" src="{{media_url}}/img/delete_button.png" value="Remove"></form>{# TODO: (expires in xx hours) #}</li>
    {% endfor %}
    {% for openid in unconfirmed_openids %}
        <li><form action="{% url libravatar.account.views.remove_unconfirmed_openid openid.id %}" method="post">{% csrf_token %}{{ openid.openid }}
        <input type="image" src="{{media_url}}/img/delete_button.png" value="Remove"></form>{# TODO: (expires in xx hours) #}</li>
    {% endfor %}
</ul>
{% endif %}

{% if not max_emails %}
<p><a href="{% url libravatar.account.views.add_email %}">Add a new email address</a></p>
{% endif %}

<p><a href="{% url libravatar.account.views.add_openid %}">Add a new OpenID</a></p>

{% if photos %}
<p>Here are the photos you have uploaded/imported:</p>
<ul class="horizontal-list avatar-list centered">
{% for photo in photos %}
    <li><img class="thumbnail" src="{{photo}}" title="Uploaded on {{photo.upload_datetime}}" alt="Uploaded on {{photo.upload_datetime}}"><br>
    <a href="{% url libravatar.account.views.delete_photo photo.id %}">Delete</a></li>
{% endfor %}
</ul>
{% endif %}

{% if not max_photos %}
<p><a href="{% url libravatar.account.views.upload_photo %}">Upload a new photo</a></p>
{% endif %}

<h2>Account settings</h2>

<p><a href="{% url django.contrib.auth.views.password_change %}">Change your password</a></p>

<p><a href="{% url libravatar.account.views.delete %}">Permanently delete your account</a></p>

{% endblock content %}
